<div data-controller='input'>
  <p class="text-2xl font-bold mb-3" data-input-target="message">Fog Creek Software</p>
  <button class="btn mr-3" data-action="input#reverse">Reverse Message</button>
  <button class="btn" data-action="input#append_i">Append "!"</button>
  
  <div class="mt-3">
    <a href="https://stimulus.hotwired.dev" data-action="input#block:prevent" class="text-blue-600">
      A link with e.preventDefault()
    </a>
  </div>
</div>